.parent {
  position: relative;
}

.hello {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  height: 300px;
  width: 360px;
  color: black;
  transition: 1s;
  opacity: 0;
  transition: 1s;
}
.hello:hover {
  opacity: 1;
}
